.u-section-1 .u-sheet-1 {
  min-height: 1566px;
}

.u-section-1 .u-image-1 {
  width: 143px;
  height: 143px;
  margin: 13px auto 0 201px;
}

.u-section-1 .u-image-2 {
  width: 143px;
  height: 143px;
  margin: -143px 201px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 453px;
  height: 170px;
  margin: -156px auto 0;
}

.u-section-1 .u-gallery-1 {
  height: 980px;
  width: 936px;
  margin: 10px auto 0;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
}

.u-section-1 .u-back-slide-1 {
  background-position: 50% 50%;
}

.u-section-1 .u-back-image-1 {
  object-position: 50% 50%;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-back-slide-2 {
  background-position: 50% 50%;
}

.u-section-1 .u-back-image-2 {
  object-position: 50% 50%;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-back-slide-3 {
  background-position: 50% 50%;
}

.u-section-1 .u-back-image-3 {
  object-position: 50% 50%;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-back-slide-4 {
  background-position: 50% 50%;
}

.u-section-1 .u-back-image-4 {
  object-position: 50% 50%;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-back-slide-5 {
  background-position: 50% 50%;
}

.u-section-1 .u-back-image-5 {
  object-position: 50% 50%;
}

.u-section-1 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-back-slide-6 {
  background-position: 50% 50%;
}

.u-section-1 .u-back-image-6 {
  object-position: 50% 50%;
}

.u-section-1 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-7 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-1 .u-back-slide-7 {
  background-position: 50% 50%;
}

.u-section-1 .u-back-image-7 {
  object-position: 50% 50%;
}

.u-section-1 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-1 .u-gallery-item-8 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-1 .u-back-slide-8 {
  background-position: 50% 50%;
}

.u-section-1 .u-back-image-8 {
  object-position: 50% 50%;
}

.u-section-1 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-1 .u-gallery-item-9 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-1 .u-back-slide-9 {
  background-position: 50% 50%;
}

.u-section-1 .u-back-image-9 {
  object-position: 50% 50%;
}

.u-section-1 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-1 .u-back-slide-10 {
  background-position: 50% 50%;
}

.u-section-1 .u-back-image-10 {
  object-position: 50% 50%;
}

.u-section-1 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-image-4 {
  width: 570px;
  height: 200px;
  margin: 207px auto 0;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1999px;
  }

  .u-section-1 .u-gallery-1 {
    width: 720px;
    height: 1413px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4815px;
  }

  .u-section-1 .u-gallery-1 {
    width: 540px;
    height: 4239px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-1 .u-image-4 {
    width: 540px;
    height: 189px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3133px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 197px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 197px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 128px;
  }

  .u-section-1 .u-gallery-1 {
    width: 340px;
    height: 2669px;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 119px;
  }
}